body{   

    background-color: gray;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


 #cabecera{


        border: white solid 2px;
        background-color: url("../imagenes/nave.png") 10px 10px; 
        text-align: left;
        font-size: medium;
        margin: 0;
        padding: 0.5em 0.5m 3em;

 }

#container{

width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #ddd;
margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#footer{

    background: blanchedalmond;
    color: black;
    border:  solid 2px;
}